{% extends "base.html" %}
{% block content %}
<header class="navbar navbar-fixed-top">
    {% include "header.html" %}
</header>

  <nav class="panel panel-primary" >
      <div class="panel-heading">{{ instrument }}<label class="percentage pull-right"></label></div>
      <div class="panel-body">
          {% if instrument.content %}
            {{ instrument.content }}
          {% else %}
            Follow instructions below.
          {% endif %}
      </div>
  </nav>
  {% load crispy_forms_tags %}
  <form id="formset" method="POST" action="#">
      {% csrf_token %}
      <input type="number" name="answered" id="answeredQuestion" hidden>
      <input type="number" name="total" id="totalQuestion" hidden>
      <table>
          <script type="text/javascript">
            var isTrigger = {};
            var questions = JSON.parse('{{ questions|safe }}');
          </script>
        {{ formset.management_form|crispy }}
        {% for form in formset %}
          {{ form.title }}
          {{ form.id }}
          <script type="text/javascript">
          {% for choice in form.choices %}
            isTrigger['{{ choice.pk }}']=['{{ choice.triggersub }}', '{{ choice.question.pk }}']
          {% endfor %}
          </script>
            {% crispy form %}
        {% endfor %}
      </table>
      <div class="fixed-bottom">
          <ul class="pager">
            <li><input type="submit" class="btn btn-default" value="Previous" name="Prev"/></li>
            <li><input type="submit" class="btn btn-default" value="Save" name="Save"/></li>
            <li><input type="submit" class="btn btn-default" value="Next" name="Next"/></li>
          </ul>
      </div>
      <div class="text-center"><span class="label label-primary">This page progress: <label class="percentage text-center"></label></span></div>
  </form>
{% endblock %}