{% extends "base.html" %}
{% block content %}
<header class="navbar navbar-fixed-top">
    {% include "header.html" %}
</header>
<div class="container">
  {% load crispy_forms_tags %}
  <form id="formset" method="POST" action="#">
      {% csrf_token %}
      <table>
          <script type="text/javascript">
            var isTrigger = {};
            var questions = JSON.parse('{{ questions|safe }}');
          </script>
        {{ formset.management_form|crispy }}
        {% for form in formset %}
          {{ form.title }}
          {{ form.id }}
          <script type="text/javascript">
          {% for choice in form.choices %}
            isTrigger['{{ choice.pk }}']=['{{ choice.triggersub }}', '{{ choice.question.pk }}']
          {% endfor %}
          </script>
            {% crispy form %}
        {% endfor %}
      </table>
      <br><br>
      <div class="question-group">
      <div class="form-group">
          <div class="btn-group">
            <input type="submit" class="btn"/>
          </div>
      </div>
      </div>
  </form>
</div>
{% endblock %}