{% extends "base.html" %}
{% block content %}
<header class="navbar navbar-fixed-top">
    {% include "header.html" %}
</header>
<div class="row">
    <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ interview.interviewInstance.assignment.interview }}'s Participant Information</div>
      <div class="panel-body">
        <p>ID:  {{ interview.interviewInstance.assignment.participant.pk }}</p>
        <p>Name: {{ interview.interviewInstance.assignment.participant.firstName }}</p>
    </div>

    </div>
    {% if interview.instruments %}
        <ul class="list-group">
        {% for instrument in interview.instruments %}
            <li class="list-group-item"><a href="instrument/{{ instrument.id }}/">{{ instrument.name }}</a><span class="badge">test</span></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Not available.</p>
    {% endif %}
    </div>
</div>
{% endblock %}