body {
    padding-top: 70px;
    background-color:#f7f9f9;
}

html,body {
    height: 100%
}

.switch-title {
  margin-bottom: 6px;
}

input[type=radio],input[type=checkbox] {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.radio-inline,.checkbox-inline {
  float: left;
}

.radio-inline,.checkbox-inline {
  display: inline-block;
  overflow : hidden;
  white-space: nowrap
  width: 100%;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 100);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0);
  //-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  //box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.radio-inline:hover,.checkbox-inline:hover {
    cursor: pointer;
}

input[type=radio]:checked + .radio-inline,input[type=checkbox]:checked + .checkbox-inline {
  background-color: #4285F4;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.radio-inline:first-of-type,.checkbox-inline:first-of-type {
  border-radius: 4px 0 0 4px;
}

.radio-inline:last-of-type,.checkbox-inline:last-of-type {
  border-radius: 0 4px 4px 0;
}

.login-register-form-section {
        max-width: 350px;
        margin: 0 auto;
    }

.login-register-form-section i {
    width: 10px;
}
.login-register-form-section .nav-tabs > li > a {
    color: #2abb9b;
}

.login-register-form-section .nav-tabs > li.active > a {
    background-color: #2abb9b;
    border-color: #2abb9b;
    color: white;
}
.login-register-form-section .nav-tabs > li > a,
.login-register-form-section .nav-tabs > li.active > a {
    width: 160px;
    text-align: center;
    border-radius: 0;
}
.login-register-form-section .nav-tabs {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.login-register-form-section .btn-custom {
    width: 100%;
    background-color: #2abb9b;
    border-color: #2abb9b;
    margin-bottom: 0.5em;
    border-radius: 0;
}
.login-register-form-section .btn-custom:hover {
    width: 100%;
    background-color: #48A497;
    border-color: #2abb9b;
}
.login-register-form-section .form-group {
    padding: 0 20px;
}

.questionDiv {
    vertical-align: middle;
    padding-bottom: 60px;
    width: 50%
}

.pager li input{
    width:100px
}

.help-block{
    margin-top: 0px;
    margin-bottom: 0px;
}

.question-comment{
    margin-top: 40px;
}


